# Specific top-level files/dirs
/output
/docs/_build
/*.bin
/*.png
/.idea
/work
/logs
# Other specific files/dirs 
/library/config.yml
# Files/dirs anywhere in this repo
__pycache__
# File/dir types
*.egg-info
